<div class="row">
	<div class="col-md-6 col-md-push-3 col-sm-8 col-sm-push-2">
		<% @movies.each do |m| %> 
			<a href="/movies/<%= m.id %>">
				<div class="well index_well">
					<%= image_tag m.poster.url(:medium), class: 'index_image' %> 
						<h4><%= m.title %></h4>
						<h5><%= m.director %> </h5>
						<br />
					<%= link_to "Edit", edit_movie_path(m), class: 'btn btn-primary' %> 
					<%= link_to "Remove", movie_path(m), method: :delete, class: "btn btn-danger" %> 
				</div>
			</a>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-push-3 text-center"> 
		<%= will_paginate %>
	</div>
</div>