<div class="row">
	<div class="col-md-6 col-md-push-3 col-sm-8 col-sm-push-2 col-xs-10 col-xs-push-1">
		<div class="col-sm-6 well">
			<%= image_tag @movie.poster.url(:normal), class: 'show_image' %>
		</div>
		<div class="col-sm-6 show_info_container">
			<h3 class="white"><%= @movie.title %></h3>
			<h5 class="white"><%= @movie.director %></h5>
			<div class="review-rating" data-number="<%= @average_review %>">
			</div>
			<p class="show_synopsis white"><i><%= @movie.synopsis %></i></p>
			<%= link_to "Edit", edit_movie_path(@movie), class: 'btn btn-success btn_pad' %> 
			<%= link_to "Delete", movie_path(@movie), method: :delete, class: 'btn btn-danger btn_pad' %> 
			<button type="button" class="btn_pad btn btn-primary" data-target="#reviewModal" data-toggle="modal">Add Review</button> 
		</div>
	</div>		
</div>
<div class="row bottom_padding middle_padding">
	<div class="col-md-6 col-md-push-3 col-sm-8 col-sm-push-2 col-xs-10 col-xs-push-1">
		<% if !@reviews.empty? %>
			<% @reviews.each do |r| %> 
				<div class="col-sm-12 show_comment_container well">
					<div class="review-rating" data-number="<%= r.rating %>"></div>
					<p><%= r.comment %></p>	
					<p class="show_time_ago"><%= time_ago_in_words(r.created_at) %> ago</p>	
				</div>
			<% end %> 
			<%= will_paginate @reviews, class: 'text-center' %>
		<% end %> 
	</div>		
</div>

<div id='reviewModal' class="modal fade">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="close">
					 <span aria-hidden="true">&times;</span>
				</button>
				<h4>Create Review</h4>
			</div>
			<div class="modal-body">
				<%= form_for([@movie, @review]) do |r| %> 
					<%= r.text_area :comment, placeholder: 'Add your review', class: 'form-control form_area' %> 
					<br />
					<div id="rating-form">
						<label>Rating</label>
					</div>	 
			
			</div>
			<div class="modal-footer">
					<%= r.submit "Create", class: 'btn btn-primary' %> 
				<% end %>
			</div>
		</div>
	</div>
</div>



