<div class="row top_spacing_devise bottom_spacing">
  <div class="col-md-4 col-md-push-4 col-sm-4 col-sm-push-4 col-xs-10 col-xs-push-1 well devise_container">
		<h3 class="text-center">Password</h3>
		<br />
		<p class="text-center">Forget your password? Enter your email and we will send you a reset</p>
		<br />
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="form-group">
		    <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control' %>
		  </div>

		  <div class="form-group">
		    <%= f.submit "Send", class: "btn btn-primary stretch" %>
		  </div>
		<% end %>
		<br />
		<%= render "devise/shared/links" %>
		<br />
	</div>
</div>

<% provide(:background, "background: url('/assets/popcorn.jpg') no-repeat center fixed;") %>
